<%
  content_for :title, 'Experimente grátis sem compromisso por 30 dias'
  content_for :body_attributes, ' class="new-lead"'.html_safe
%>
<header class="lead"></header>
<div class="container lead main-content">
  <hgroup>
    <h2>As pessoas<br />querem te ver.</h2>
    <h3>Em qualquer lugar. A qualquer hora.</h3>
    <h4>Anuncie em nosso catálogo e seja encontrado pelo seu<br />público, inclusive através do Google e do Facebook.</h4>
  </hgroup>
  <h5><%= image_tag('layout/new_lead_form_legend.png', alt: 'Apenas R$49,00 por mês! Experimente grátis sem compromisso por 30 dias.') %></h5>
  <%= form_for @lead do |f| %>
    <fieldset>
      <div class="fields">
        <label>Nome da sua Empresa:<%= f.text_field :company_name, maxlength: '64' %></label>
        <label>Seu Nome:<%= f.text_field :contact_name, maxlength: '64' %></label>
        <label>Seu E-mail:<%= f.text_field :email, maxlength: '64' %></label>
        <%= f.submit value: 'Quero Experimentar »', class: 'call-to-action' %>
      </div>
      <div class="disclaimer">
        <h6>Está com dúvidas?</h6>
        <p>Neste momento, tudo que precisamos são seus dados básicos para que possamos lhe enviar mais informações e esclarecer todas as suas dúvidas.</p>
        <p>Lembre-se que você não terá nenhum compromisso ao enviar tais informações. Você pode desistir de anunciar conosco a qualquer momento sem nenhum tipo de taxa extra ou multa.</p>
        <p>Nós queremos que você se sinta à vontade e seguro. Se preferir, continue navegando pelo <%= link_to 'catálogo', root_path, title: 'Navegar pelo catálogo', class: 'inverse' %>.</p>
      </div>
    </fieldset>
  <% end %>
</div>
