<header class="company">
  <div class="container">
    <%= link_to '« Voltar ao Catálogo', back_to_catalog_url, title: 'Voltar ao catálogo', class: 'back-to-catalog' %>
    <h2>Selma Santos Imóveis</h2>
    <%= render 'addthis' %>
  </div>
</header>
<div class="container company main-content">
	<%= render 'companies/selma-santos-imoveis/sidebar' %>
  <section>
    <article class="cover">
      <%= image_tag 'companies/selma-santos-imoveis/cover-1.png', alt: 'Bem vindo à Selma Santos Imóveis' %>
    </article>
    <article class="text">
      <h3>Sobre Nós</h3>
      <p>
        Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento.
      </p>
    </article>
    <article class="gallery">
      <h3>Nossa Loja</h3>
      <ul>
        <li><%= image_tag 'companies/selma-santos-imoveis/gallery-1-1.png', alt: 'Nossa Loja' %></li>
        <li><%= image_tag 'companies/selma-santos-imoveis/gallery-1-1.png', alt: 'Nossa Loja' %></li>
        <li><%= image_tag 'companies/selma-santos-imoveis/gallery-1-1.png', alt: 'Nossa Loja' %></li>
        <li><%= image_tag 'companies/selma-santos-imoveis/gallery-1-1.png', alt: 'Nossa Loja' %></li>
        <li><%= image_tag 'companies/selma-santos-imoveis/gallery-1-1.png', alt: 'Nossa Loja' %></li>
        <li><%= image_tag 'companies/selma-santos-imoveis/gallery-1-1.png', alt: 'Nossa Loja' %></li>
        <li><%= image_tag 'companies/selma-santos-imoveis/gallery-1-1.png', alt: 'Nossa Loja' %></li>
        <li><%= image_tag 'companies/selma-santos-imoveis/gallery-1-1.png', alt: 'Nossa Loja' %></li>
        <li><%= image_tag 'companies/selma-santos-imoveis/gallery-1-1.png', alt: 'Nossa Loja' %></li>
        <li><%= image_tag 'companies/selma-santos-imoveis/gallery-1-1.png', alt: 'Nossa Loja' %></li>
        <li><%= image_tag 'companies/selma-santos-imoveis/gallery-1-1.png', alt: 'Nossa Loja' %></li>
        <li><%= image_tag 'companies/selma-santos-imoveis/gallery-1-1.png', alt: 'Nossa Loja' %></li>
      </ul>
    </article>
    <article class="text">
      <h3>Como Podemos Ajudar</h3>
      <p>
        Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento.
      </p>
      <p>
        Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento.
      </p>
    </article>
  </section>
</div>