<header class="company">
  <div class="container">
    <%= link_to '« Voltar ao Catálogo', back_to_catalog_url, title: 'Voltar ao catálogo', class: 'back-to-catalog' %>
    <h2>Selma Santos Imóveis</h2>
    <%= render 'addthis' %>
  </div>
</header>
<div class="container company main-content">
	<%= render 'companies/selma-santos-imoveis/sidebar' %>
  <section>
    <article class="cover">

      <% # excluir %>
      <% image = 'companies/selma-santos-imoveis/cover-1.png' %>

      
      <%= link_to image_tag(image, alt: 'Bem vindo à Selma Santos Imóveis'), image_path(image), title: 'Bem vindo à Selma Santos Imóveis', rel: 'cover' %>
    </article>
    <article class="text">
      <h3>Sobre Nós</h3>
      <p>
        Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento.
      </p>
    </article>
    <article class="gallery">
      <h3>Nossa Loja</h3>
      <ul>

        <% # excluir %>
        <% image = 'companies/selma-santos-imoveis/gallery-1-1.png' %>


        <li><%= link_to image_tag(image, alt: 'Nossa Loja'), image_path(image), title: 'Nossa Loja 1', rel: 'gallery-1' %></li>
        <li><%= link_to image_tag(image, alt: 'Nossa Loja'), image_path(image), title: 'Nossa Loja 2', rel: 'gallery-1' %></li>
        <li><%= link_to image_tag(image, alt: 'Nossa Loja'), image_path(image), title: 'Nossa Loja 3', rel: 'gallery-1' %></li>
        <li><%= link_to image_tag(image, alt: 'Nossa Loja'), image_path(image), title: 'Nossa Loja 4', rel: 'gallery-1' %></li>
        <li><%= link_to image_tag(image, alt: 'Nossa Loja'), image_path(image), title: 'Nossa Loja 5', rel: 'gallery-1' %></li>
        <li><%= link_to image_tag(image, alt: 'Nossa Loja'), image_path(image), title: 'Nossa Loja 6', rel: 'gallery-1' %></li>
        <li><%= link_to image_tag(image, alt: 'Nossa Loja'), image_path(image), title: 'Nossa Loja 7', rel: 'gallery-1' %></li>
      </ul>
    </article>
    <article class="text">
      <h3>Como Podemos Ajudar</h3>
      <p>
        Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento.
      </p>
      <p>
        Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento. Um texto institucional ou sobre qualquer outro assunto pertinente ao estabelecimento.
      </p>
    </article>
    <article class="cover">

      <% # excluir %>
      <% image = 'companies/selma-santos-imoveis/cover-1.png' %>

      
      <%= link_to image_tag(image, alt: 'Bem vindo à Selma Santos Imóveis'), image_path(image), title: 'Bem vindo à Selma Santos Imóveis', rel: 'cover' %>
    </article>
    <article class="gallery">
      <h3>Nossa Loja 2</h3>
      <ul>

        <% # excluir %>
        <% image = 'companies/selma-santos-imoveis/gallery-1-1.png' %>


        <li><%= link_to image_tag(image, alt: 'Nossa Loja'), image_path(image), title: 'Nossa Loja 8', rel: 'gallery-2' %></li>
        <li><%= link_to image_tag(image, alt: 'Nossa Loja'), image_path(image), title: 'Nossa Loja 9', rel: 'gallery-2' %></li>
      </ul>
    </article>
  </section>
</div>