<ul id="search-results">
	<% if @companies.all.any? %>
		<% @companies.each do |company| %>
			<li data-id="<%= company.id %>" class="<%= 'highlight ' if company.have_page? %>result">
				<%= link_to image_tag('layout/see_details.png', alt: 'Ver detalhes'), company_path(company.username), title: "Ver detalhes de #{company.name}", class: 'see-details' if company.have_page? %>
				<div class="data">
					<p class="name"><%= company.name %></p>
					<p class="phone">
						<%= company.phone %> <a href="#" rel="popover" class="inverse">Número Errado?</a>
					</p>
					<p class="address"><%= company.address %></p>
					<p class="tags">
						<%= company.segments %>
						<%= " [#{company.products}]" if company.products.present? %>
					</p>
				</div>
			</li>
		<% end %>
	<% elsif params[:page].nil? %>
		<li data-id="0" id="none-companies">
			<p class="title">Nenhuma empresa foi encontrada.</p>
			<p class="instructions">
				Por favor, verifique os termos digitados e tente novamente. Caso a empresa que procura não esteja cadastrada, <%= default_contact_email 'entre em contato', :inverse %> e iremos cadastrá-la para você.
			</p>
		</li>
	<% end %>
</ul>
