<% content_for :body_attributes, ' class="catalog"'.html_safe %>
<header class="search">
	<form action="/" method="get" class="container">
		<h2>Encontre o que precisa em Valença</h2>
		<div>
			<input id="search-field" type="text" name="encontrar" value="<%= sanitize(params[:encontrar], :go) %>" placeholder="Exemplos: água, pizza, lanchonete, academia... e clique na lupa »" />
			<span class="add-on">
				<%= image_submit_tag 'layout/zoom_tool.png', alt: 'Encontrar', id: 'submit-search' %>
			</span>
		</div>
		<%= render './addthis' %>
	</form>
</header>
<div class="container search main-content">
	<!--
	<p id="display">
		<strong>Grátis por 30 dias!</strong> Tenha uma página em nosso catálogo e conquiste mais clientes para sua empresa. <%#= link_to 'Saiba mais', new_lead_path, title: 'Saber mais sobre como anunciar', class: 'inverse' %>.
	</p>
	-->
	<%= render 'search_results' %>
	<%= paginate @companies, window: 2 %>
</div>
