<!DOCTYPE HTML>
<html lang="pt-BR" dir="ltr">
  <head>
    <title><%= page_title yield(:title) %></title>
    <meta charset="utf-8" />
    <meta name="description" content="<%= page_description yield(:description) %>" />
    <meta property="og:image" content="<%= og_image yield(:og_image) %>" />
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'fonts/all' %>
    <%= stylesheet_link_tag 'application' %>
    <!--[if lt IE 9]><%= javascript_include_tag 'html5' %><![endif]-->
  </head>
  <body<%= yield(:body_attributes) %>>
    <div class="main-container">
      <header class="main">
        <div class="container">
          <h1 class="logo">
            <%= link_to image_tag('layout/logo.png', alt: page_title), root_path, title: page_title %>
          </h1>
          <nav>
            <ul>
              <li><%= link_to 'Página Inicial', root_path, title: 'Voltar à página inicial' %></li>
              <li><%= link_to 'Anuncie Grátis', new_lead_path, title: '30 dias sem compromisso para experimentar' %></li>
              <li><%= link_to 'Ajuda', questions_path, title: 'Visitar seção de ajuda' %></li>
              <li><%= default_contact_email %></li>
            </ul>
          </nav>
        </div>
      </header>
      <section>
        <%= yield %>
      </section>
      <footer>
        <div class="container">
          <%= link_to image_tag('layout/logo1.png', alt: page_title), root_path, title: page_title, class: 'logo' %>
          <%= link_to 'who', 'http://bazzarella.com', target: '_blank', title: 'Felipe Bazzarella', class: 'who' %>
        </div>
      </footer>
    </div>
    <%= render './metrics' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>